@import '../../../variables';

:host {
    background-color: $color-background-light;
    box-shadow: $box-shadow-main;
}

:host>.wrapper {
    & {
        margin: 0 auto;
        max-width: 1140px;
        padding: 0 1em;
    }
    &.upper {
        & {
            & {
                padding: 3em 1em;
        
                display: grid;
                grid-template-columns: 1fr 3fr;
                gap: 1em;
            }
            @media screen and (max-width: 940px) {
                grid-template-columns: 1fr 2fr;
            }
            @media screen and (max-width: 698px) {
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width: 600px) {
                grid-template-columns: minmax(calc(240px - 2em), auto);
                grid-template-rows: auto auto;
                gap: 2em;
            }
        }

        >.container {
            & {
                min-width: fit-content;
    
                display: flex;
                flex-direction: column;
                gap: 0.375em;
            }

            >.header {
                & {
                    margin-bottom: 0.625em;
        
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: 0.0312em;
        
                    color: $color-font-main;
        
                    cursor: default;
        
                    user-select: none;
                }
        
                &.link {
                    cursor: pointer;
                }
            }

            &.container.contacts>.contact {
                & {
                    display: flex;
                    align-items: center;
                }
    
                >svg {
                    margin-right: 0.625em;
                    width: 1em;
                    height: 1em;
    
                    fill: $color-font-text;
                }
    
                >span {
                    line-height: 1.5;
    
                    color: $color-font-text;
                }
            }

            &.container.about>.about {
                width: 100%;
    
                line-height: 1.5;
                text-wrap: balance;
    
                color: $color-font-text;
    
                cursor: default;
                user-select: none;
            }
        }
    }
    &.lower {
        & {
            padding: 1.5em 1em;
        }

        >.container {
            min-width: fit-content;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.375em;
        }
        >.container.author {
            >.info {
                & {
                    color: $color-font-text;
    
                    cursor: default;
                    user-select: none;
                }

                >a {
                    & {
                        color: $color-font-text;
                    }
                    &:hover {
                        color: $color-element-inactive;
                    } 
                }
            }
            >.contacts {
                & {
                    display: flex;
                    gap: 1em;
                }

                >a {
                    & {
                        cursor: pointer;
                    }
                    
                    >svg {
                        width: 1.25em;
                        height: 1.25em;

                        fill: $color-font-text;
                    }
                }
            }
        }
    }
}

:host>.separator {
    width: 100%;
    height: 1px;
    
    background-color: rgba($color-background-dark, 0.05);
}