<div class="section buttons">
    <button class="close"
        (click)="chatbarClose()"
    >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/>
        </svg>
    </button>

    <button class="contacts"
        (click)="chatbarTabChange('contacts')"
    >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M20.822 18.096c-3.439-.794-6.64-1.49-5.09-4.418 4.72-8.912 1.251-13.678-3.732-13.678-5.082 0-8.464 4.949-3.732 13.678 1.597 2.945-1.725 3.641-5.09 4.418-3.073.71-3.188 2.236-3.178 4.904l.004 1h23.99l.004-.969c.012-2.688-.092-4.222-3.176-4.935z"/>
        </svg>
        <span>Contacts</span>
    </button>

    <button class="settings"
        (click)="chatbarTabChange('settings')"
    >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M24 14v-4c-1.619 0-2.906.267-3.705-1.476-.697-1.663.604-2.596 1.604-3.596l-2.829-2.828c-1.033 1.033-1.908 2.307-3.666 1.575-1.674-.686-1.404-2.334-1.404-3.675h-4c0 1.312.278 2.985-1.404 3.675-1.761.733-2.646-.553-3.667-1.574l-2.829 2.828c1.033 1.033 2.308 1.909 1.575 3.667-.348.849-1.176 1.404-2.094 1.404h-1.581v4c1.471 0 2.973-.281 3.704 1.475.698 1.661-.604 2.596-1.604 3.596l2.829 2.829c1-1 1.943-2.282 3.667-1.575 1.673.687 1.404 2.332 1.404 3.675h4c0-1.244-.276-2.967 1.475-3.704 1.645-.692 2.586.595 3.596 1.604l2.828-2.829c-1-1-2.301-1.933-1.604-3.595l.03-.072c.687-1.673 2.332-1.404 3.675-1.404zm-12 2c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"/>
        </svg>
    </button>
</div>

<div class="section header">

    <div class="contacts"
        [class.active]="chatbarTabCurrent === 'contacts'"
    >
        <button class="close"
            (click)="chatbarTabChange('default')"
        >
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24">
                <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/>
            </svg>
        </button>
        <span>{{contactsHeader}}</span>
        <button class="search"
            (click)="chatbarTabChange('search')"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M23.822 20.88l-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396 3.119-3.12zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z"/>
            </svg>
        </button>
    </div>
    
    <div class="settings"
        [class.active]="chatbarTabCurrent === 'settings'"
    >
        <button class="close"
            (click)="chatbarTabChange('default')"
        >
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24">
                <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/>
            </svg>
        </button>
        <span>Settings</span>
    </div>

    <div class="conversation"
        [class.active]="chatbarTabCurrent === 'conversation'"
    >
        <button class="close"
            (click)="chatbarTabChange('default')"
        >
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24">
                <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/>
            </svg>
        </button>

        <img class="user-image" src="assets/chat-user.jpg" draggable="false">
        
        <div class="user-info">
            <div class="name">John Smith</div>
            <div class="status">
                <span class="icons">
                    <svg [class.active]="conversationStarred" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11.322 2.923c.126-.259.39-.423.678-.423.289 0 .552.164.678.423.974 1.998 2.65 5.44 2.65 5.44s3.811.524 6.022.829c.403.055.65.396.65.747 0 .19-.072.383-.231.536-1.61 1.538-4.382 4.191-4.382 4.191s.677 3.767 1.069 5.952c.083.462-.275.882-.742.882-.122 0-.244-.029-.355-.089-1.968-1.048-5.359-2.851-5.359-2.851s-3.391 1.803-5.359 2.851c-.111.06-.234.089-.356.089-.465 0-.825-.421-.741-.882.393-2.185 1.07-5.952 1.07-5.952s-2.773-2.653-4.382-4.191c-.16-.153-.232-.346-.232-.535 0-.352.249-.694.651-.748 2.211-.305 6.021-.829 6.021-.829s1.677-3.442 2.65-5.44z" fill-rule="nonzero"/></svg>
                    <svg [class.active]="conversationMuted" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 17.251v1.749h-13.065l9.444-8.566c.565 2.995 1.013 5.966 3.621 6.817zm-9.971 6.749c1.578 0 2.971-1.402 2.971-3h-6c0 1.598 1.449 3 3.029 3zm10.971-19.802l-20.654 18.735-1.346-1.48 2.705-2.453h-1.705v-1.749c4.877-1.591 2.195-10.594 6.863-13.306.645-.374 1.041-1.069 1.04-1.82v-.003c0-1.172.939-2.122 2.097-2.122s2.097.95 2.097 2.122v.003c-.001.75.396 1.447 1.04 1.82 1.064.618 1.743 1.565 2.22 2.674l4.302-3.901 1.341 1.48zm-12-2.198c0 .552.448 1 1 1s1-.448 1-1c0-.551-.448-1-1-1s-1 .449-1 1z"/></svg>
                    <svg [class.active]="conversationBlocked" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7 14h-14v-4h14v4z"/></svg>
                </span>
                <span>Offline</span>
            </div>
        </div>

        <button class="menu"
            (click)="conversationMenuDropdownToggle()"
        >
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m16.5 11.995c0-1.242 1.008-2.25 2.25-2.25s2.25 1.008 2.25 2.25-1.008 2.25-2.25 2.25-2.25-1.008-2.25-2.25zm-6.75 0c0-1.242 1.008-2.25 2.25-2.25s2.25 1.008 2.25 2.25-1.008 2.25-2.25 2.25-2.25-1.008-2.25-2.25zm-6.75 0c0-1.242 1.008-2.25 2.25-2.25s2.25 1.008 2.25 2.25-1.008 2.25-2.25 2.25-2.25-1.008-2.25-2.25z"/></svg>

            <div class="dropdown"
                (click)="$event.stopPropagation()"
                appDropdown
                    [dropdownStatus]="conversationMenuDropdownShow"
                    (dropdownClose)="conversationMenuDropdownShow = false"
            >
                <a tabindex="0" (click)="conversationStarred = true" [class.hidden]="conversationStarred === true">Star</a>
                <a tabindex="0" (click)="conversationStarred = false" [class.hidden]="conversationStarred === false">Unstar</a>
                <a tabindex="0" (click)="conversationMuted = true" [class.hidden]="conversationMuted === true">Mute</a>
                <a tabindex="0" (click)="conversationMuted = false" [class.hidden]="conversationMuted === false">Unmute</a>
                <a tabindex="0" (click)="conversationBlocked = true" [class.hidden]="conversationBlocked === true">Block</a>
                <a tabindex="0" (click)="conversationBlocked = false" [class.hidden]="conversationBlocked === false">Unblock</a>
                <a tabindex="0">Delete</a>
            </div>
        </button>

    </div>

    <div class="default"
        [class.active]="(chatbarTabCurrent === 'default') || (chatbarTabCurrent === 'search')"
    >

        <button class="close"
            [class.active]="chatbarTabCurrent === 'search'"
            (click)="chatbarTabChange('defaultds')"
        >
            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24">
                <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/>
            </svg>
        </button>

        <input type="text" placeholder="Search" onblur="this.value=''"
            (click)="chatbarTabChange('search')"
            [class.active]="chatbarTabCurrent === 'search'"
        >

        <button class="search"
            [class.active]="chatbarTabCurrent === 'search'"
        >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M23.822 20.88l-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396 3.119-3.12zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z"/>
        </svg>
        </button>

    </div>

</div>

<div class="section main">

    <div class="contacts"
        [class.active]="chatbarTabCurrent === 'contacts'"
    >
        <div class="categories">
            <button
                [class.active]="contactsTabCurrent === 'contacts'"
                (click)="contactsTabContacts()"
            >Contacts</button>
            <button
                [class.active]="contactsTabCurrent === 'requests'"
                (click)="contactsTabRequests()"
            >Requests</button>
        </div>
        <div class="contacts-list">
            <button>
                <img src="assets/chat-user.jpg">
                <span>John Smith</span>
            </button>
        </div>
    </div>

    <div class="settings"
        [class.active]="chatbarTabCurrent === 'settings'"
    >
        <span class="category">Privacy</span>
        <span class="description">You can restrict who can message you</span>
        <div class="option">
            <div><input type="radio" name="privacy" id="privacy1" checked><label for="privacy1">My contacts only</label></div>
            <div><input type="radio" name="privacy" id="privacy2"><label for="privacy2">My contacts and anyone in my courses</label></div>
        </div>

        <span class="category">Notifications</span>
        <div class="option">
            <div><input type="checkbox" id="email" checked><label for="email">Email</label></div>
        </div>
        
        <span class="category">General</span>
        <div class="option">
            <div><input type="checkbox" id="enter" checked><label for="enter">Use enter to send</label></div>
        </div>
    </div>

    <div class="search"
        [class.active]="chatbarTabCurrent === 'search'"
    >
        Search people and messages
    </div>

    <div class="conversation"
        [class.active]="chatbarTabCurrent === 'conversation'"
    >

        <div class="request">Contact request sent</div>

        
        <div class="messages">
            
            <div class="message from-user">
                <div class="info">
                    <img class="sender-photo" src="assets/profile-pic.jpg" draggable="false">
                    <span class="sender-name">Peter Evans</span>
                    <span class="timestamp">12:10</span>
                </div>
                <div class="content">
                    Hello!
                </div>
                <div class="sender-pointer"></div>
            </div>

            <div class="date">22 February 2024</div>

            <div class="message to-user">
                <div class="info">
                    <img class="sender-photo" src="assets/chat-user.jpg" draggable="false">
                    <span class="sender-name">John Smith</span>
                    <span class="timestamp">18:49</span>
                </div>
                <div class="content">
                    You're welcome! 🙌 So glad you enjoyed it. If you need more recommendations, feel free to ask. Happy learning!
                </div>
                <div class="sender-pointer"></div>
            </div>

            <div class="message from-user">
                <div class="info">
                    <img class="sender-photo" src="assets/profile-pic.jpg" draggable="false">
                    <span class="sender-name">Peter Evans</span>
                    <span class="timestamp">15:16</span>
                </div>
                <div class="content">
                    Hey! Just finished that "Python for Data Science" course. It was fantastic! Thank you! 🐍📊
                </div>
                <div class="sender-pointer"></div>
            </div>

            <div class="date">21 February 2024</div>

            <div class="message to-user">
                <div class="info">
                    <img class="sender-photo" src="assets/chat-user.jpg" draggable="false">
                    <span class="sender-name">John Smith</span>
                    <span class="timestamp">10:21</span>
                </div>
                <div class="content">
                    Not really, but make sure you have a good grasp of basic math and statistics. That'll make things smoother. Feel free to ask questions in the forums if you get stuck!
                </div>
                <div class="sender-pointer"></div>
            </div>

            <div class="message from-user">
                <div class="info">
                    <img class="sender-photo" src="assets/profile-pic.jpg" draggable="false">
                    <span class="sender-name">Peter Evans</span>
                    <span class="timestamp">10:18</span>
                </div>
                <div class="content">
                    Great! I'll check that out. Did you find any challenges while taking the course?
                </div>
                <div class="sender-pointer"></div>
            </div>
            
            <div class="message to-user">
                <div class="info">
                    <img class="sender-photo" src="assets/chat-user.jpg" draggable="false">
                    <span class="sender-name">John Smith</span>
                    <span class="timestamp">10:13</span>
                </div>
                <div class="content">
                    Sure thing! I found the course on Coursera by Andrew Ng to be excellent. The way he explains concepts is really clear. Plus, the assignments are hands-on.
                </div>
                <div class="sender-pointer"></div>
            </div>

            <div class="message from-user">
                <div class="info">
                    <img class="sender-photo" src="assets/profile-pic.jpg" draggable="false">
                    <span class="sender-name">Peter Evans</span>
                    <span class="timestamp">10:07</span>
                </div>
                <div class="content">
                    Thanks, John! 😊 Any specific platform or instructor you recommend for that course?
                </div>
                <div class="sender-pointer"></div>
            </div>

            <div class="message to-user">
                <div class="info">
                    <img class="sender-photo" src="assets/chat-user.jpg" draggable="false">
                    <span class="sender-name">John Smith</span>
                    <span class="timestamp">10:05</span>
                </div>
                <div class="content">
                    Hey Peter! Welcome aboard! 🚀 For data science, I'd suggest starting with the "Introduction to Data Science" course. It covers the basics and sets a solid foundation.
                </div>
                <div class="sender-pointer"></div>
            </div>

            <div class="message from-user">
                <div class="info">
                    <img class="sender-photo" src="assets/profile-pic.jpg" draggable="false">
                    <span class="sender-name">Peter Evans</span>
                    <span class="timestamp">10:00</span>
                </div>
                <div class="content">
                    Hi! 👋 Just joined this platform to explore some online courses. Any recommendations for a beginner in data science?
                </div>
                <div class="sender-pointer"></div>
            </div>
            <div class="date">10 February 2024</div>
        </div>

        <div class="input">
            <textarea placeholder="Write a message..." onblur="this.value=''"></textarea>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z"/></svg>
            </button>
        </div>

    </div>
    
    <div class="default"
        [class.active]="chatbarTabCurrent === 'default'"
    >

        <div class="group starred"
            (click)="defaultGroupStarred()"
            [class.unfold]="defaultGroupCurrent === 'starred'"
        >
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m10.211 7.155c-.141-.108-.3-.157-.456-.157-.389 0-.755.306-.755.749v8.501c0 .445.367.75.755.75.157 0 .316-.05.457-.159 1.554-1.203 4.199-3.252 5.498-4.258.184-.142.29-.36.29-.592 0-.23-.107-.449-.291-.591-1.299-1.002-3.945-3.044-5.498-4.243z"/>
            </svg>
            <span class="name">STARRED</span>
            <span class="quantity">(1)</span>
        </div>
        <div class="conversations"
            [class.unfold]="defaultGroupCurrent === 'starred'"
        >
            <div class="conversation"
                (click)="chatbarTabChange('conversation')"
            >
                <img src="assets/chat-user.jpg" draggable="false">
                <div class="info">
                    <div class="upper-container">
                        <span class="name">John Smith</span>
                        <span class="timestamp">11/11/23</span>
                    </div>
                    <span class="sender">You:</span>
                    <span class="message">Hello!</span>
                </div>
            </div>
        </div>

        <div class="group group-chats"
            (click)="defaultGroupGroup()"
            [class.unfold]="defaultGroupCurrent === 'group'"
        >
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m10.211 7.155c-.141-.108-.3-.157-.456-.157-.389 0-.755.306-.755.749v8.501c0 .445.367.75.755.75.157 0 .316-.05.457-.159 1.554-1.203 4.199-3.252 5.498-4.258.184-.142.29-.36.29-.592 0-.23-.107-.449-.291-.591-1.299-1.002-3.945-3.044-5.498-4.243z"/>
            </svg>
            <span class="name">GROUP</span>
            <span class="quantity">(0)</span>
        </div>
        <div class="conversations empty"
            [class.unfold]="defaultGroupCurrent === 'group'"
        >
            <div>No group conversations</div>
        </div>

        <div class="group private"
            (click)="defaultGroupPrivate()"
            [class.unfold]="defaultGroupCurrent === 'private'"
        >
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m10.211 7.155c-.141-.108-.3-.157-.456-.157-.389 0-.755.306-.755.749v8.501c0 .445.367.75.755.75.157 0 .316-.05.457-.159 1.554-1.203 4.199-3.252 5.498-4.258.184-.142.29-.36.29-.592 0-.23-.107-.449-.291-.591-1.299-1.002-3.945-3.044-5.498-4.243z"/>
            </svg>
            <span class="name">PRIVATE</span>
            <span class="quantity">(0)</span>
        </div>
        <div class="conversations empty"
            [class.unfold]="defaultGroupCurrent === 'private'"
        >
            No prviate conversations
        </div>

        <div class="see-all">
            <a>See all</a>
        </div>

    </div>

</div>