@import './variables.scss';

.header {
    & {
        & {
            position: fixed;
            right: 0px;
        
            width: 100%;
        
            z-index: 20;
        
            transition: width 500ms ease;
        }
        @media screen and (min-width: 1920px) {
            right: calc( (100% - 1920px) / 2);

            width: 1920px;
        }
        @media screen and (max-width: 1400px) {
            z-index: 35;
        }
    }
    &.sidebar_active {
        & {
            width: calc(100% - 17em)
        }
        @media screen and (min-width: 1920px) {
            width: calc(1920px - 17em);
        }
        @media screen and (max-width: 1400px) {
            width: 100%;
        }
    }
}

.header_spaceholder {
    height: $height-header;
}

.sidebar {
    & {
        & {
            position: fixed;
            left: 0;
    
            width: 0;
            height: 100dvh;
    
            overflow: hidden;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
            z-index: 30;
            
            transition: width 500ms ease;
        }
        @media screen and (min-width: 1920px) {
            left: calc( (100% - 1920px) / 2);
        }
        @media screen and (max-width: 1400px) {
            margin-top: $height-header;
            height: calc(100dvh - $height-header);
        }
        &.sidebar_active {
            width: min(17em, 100%);
        }
    }

    >.container {
        &{
            position: relative;
            left: -17em;
    
            width: 17em;
            height: 100%;

            transition: left 500ms ease;
        }    
        &.sidebar_active {
            left: 0;
        }
    }
}

.chatbar {
    $full-screen-width: 420px; // Width of a screen on which chatbar is 100% of the screen

    & {
        & {
            position: fixed;
            right: -8px;
    
            width: clamp(0em, 100dvw, 26em);
            height: 100%;
    
            overflow: hidden;
    
            z-index: -10;
            box-shadow: none;
    
            transition-property: z-index;
            transition-delay: 250ms;
        }
        &.chatbar-active {
            transition-property: z-index;
            transition-delay: 0ms;
            z-index: 40;
        }
        @media screen and (min-width: 1920px) {
            right: calc( (100% - 1920px) / 2 - 8px);
        }
        @media screen and (max-width: $full-screen-width) {
            width: 100dvw;
            right: 0;
        }
    }

    >.container {
        & {
            & {
                position: relative;
                right: -105%;
        
                box-sizing: border-box;
                width: calc(100% - 0.5em);
                height: 100%;
                max-height: 100vh;
        
                transition: right 250ms ease;
            }
            @media screen and (max-width: $full-screen-width) {
                width: 100%;
            }
        }
        &.chatbar-active {
            & {
                right: -4px;
            }
            @media screen and (max-width: $full-screen-width) {
                right: 0;
            }
        }
    }
}

.wrapper {
    & {
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
        height: calc(100vh - $height-header);
        max-width: 1920px;
    
        overflow-y: auto;
    
        transition: padding 500ms ease;
    }
    &.sidebar_active {
        & {
            padding-left: 17em;
        }
        @media screen and (max-width: 1400px) {
            padding-left: 0;
        }
    }
}