@import '../../../variables';

.sidebar {
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    
    background-color: $color-background-light;
}

.sidebar>.logo {
    & {
        margin-bottom: clamp(0.625em, 1.5vw, 1.688em);
        height: $height-header;
    
        display: flex;
        align-items: center;
    
        cursor: pointer;
    }

    >img {
        width: 10.312em;
        height: 2.812em;
        padding: 0 1.5em;
    }
}

.sidebar>.separator {
    & {
        margin: 1em 0;
        width: 100%;
        height: 1px;
        
        background-color: $color-background-separator;
    }
    @media screen and (min-width: 800px) {
        display: none;
    }
}

.sidebar>nav {
    & {
        display: flex;
        flex-direction: column;
    }
    &.main {
        & {
            flex-shrink: 0;
            overflow-x: hidden;
        }

        >a {
            & {
                & {
                    box-sizing: border-box;
                    margin: 0 0.571em;
                    min-width: 8.75em;
                    height: 3.042em;
                    padding: 0 0.875em;
            
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    white-space: nowrap;
                    overflow-x: hidden;
            
                    font-size: 0.875rem;
                    font-weight: 600;
            
                    border-radius: 0.428em;
                    color: $color-background-dark;
                    opacity: $opacity-inactive;
                    
                    cursor: pointer;
                    user-select: none;
            
                    transition: opacity 150ms, color 150ms;
                }
                &:hover {
                    color: $color-element-inactive;
                    opacity: $opacity-active;
                }
                &.active {
                    background-color: $color-background-button-inactive;
                    opacity: $opacity-active;
                }
                &.active:hover {
                    color: $color-background-dark;
                }
            }

            >svg {
                margin-right: 0.8em;
                width: 1em;
                height: 1em;
        
                flex-shrink: 0;
        
                transition: fill $transition-time-standart;
            }
            &:hover>svg{
                fill: $color-element-inactive;
            }
            &.active:hover>svg {
                fill: $color-background-dark;
            }
        }
    }
    &.info {
        @media screen and (min-width: 800px) {
            display: none;
        }

        >a {
            & {
                box-sizing: border-box;
                height: 3.042em;
                padding: 0 1.446em;
                
                display: flex;
                align-items: center;
                
                font-size: 0.875rem;
                font-weight: 600;
                
                color: $color-background-dark;
                opacity: $opacity-inactive;
                
                cursor: pointer;
                user-select: none;
            }
            &:hover {
                opacity: $opacity-active;
                color: $color-element-inactive;
            }
        }
    }
}