@import '../../../variables.scss';

header.header {
    & {
        box-sizing: border-box;
        height: $height-header;
        padding-left: clamp(0.5em, 2vw, 1.875em);
        padding-right:clamp(0.5em, 2vw, 1.875em);
        
        display: flex;
        align-items: center;
        
        background-color: #ffffff;
        box-shadow: 0 1px 4px rgba(#000000, 0.1);
    }

    >.sidebar {
        & {
            & {
                height: 2.75em;
                width: 2.75em;
                flex-shrink: 0;
                padding: 0;
            
                font-size: 0.725rem;
                font-weight: 600;
                white-space: nowrap;
            
                display: flex;
                align-items: center;
                justify-content: center;
            
                border-radius: 0.375em;
                color: #ffffff;
                background-color: #5e72e4;
            
                cursor: pointer;
                transition: transform 150ms;
            }
            &:hover {
                transform: translate(0, -5%);
            }
            &:active {
                background-color: #324cdd;
            }
        }
    
        >svg {
            & {
                width: 1em;
                height: 1em;
                
                fill: #ffffff;
        
                transition: transform 150ms;
            }
            &:hover {
                transform: translate(0, -5%);
            }
        }
    }

    >.navigation {
        & {
            & {
                margin: 0 2.5em;
        
                display: flex;
                gap: 2.5em;
            }
            @media screen and (max-width: 800px) {
                display: none;
            }
        }
    
        >a {
            & {
                font-weight: 600;
        
                color: rgba(#000000, 0.6);
        
                cursor: pointer;
                transition: color 150ms;
                
                user-select: none;
            }
            &:hover {
                color: #5e72e4;
            }
        }
    }

    >.language {
    
        & {
            & {
                position: relative;
                
                height: 2.75em;
                flex-shrink: 0;
                margin-left: auto;
                padding: 0 0.625em;

                display: flex;
                align-items: center;
                
                font-weight: 600;
                
                border-radius: 0.375em;
                color: rgba(#000000, 0.6);
                
                cursor: pointer;
                transition: background-color 150ms;

                user-select: none;
            }
            &:hover {
                background-color: rgba(#5e72e4, 0.05);
            }
            &:active {
                background-color: rgba(#324cdd, 0.05);
            }
            &.active {
                background-color: rgba(#5e72e4, 0.05);
            }
        }
        
        >span {
            transition: color 150ms;
            color: #000000;
            opacity: 0.6;
        }
        &.active>span {
            opacity: 0.9;
        }
        >span.full {
            @media screen and (max-width: 299px) {
                display: none;
            }
        }
        >span.short {
            @media screen and (min-width: 300px) {
                display: none;
            }
        }
    
        >.dropdown {
            & {
                @include dropdown-container-standart;
                right: unset;
                left: 0;
            }
            
            >button {
                @include dropdown-link-standart;
            }
        }
    }

    >.separator {
        & {
            & {
                width: 2px;
                height: 1.25em;
                margin: 0 1em;
                
                border-radius: 5px;
                background-color: rgba(#324cdd, 0.1);
            }
            @media screen and (max-width: 300px) {
                display: none;
            }
        }
        &.authorized {
            @media screen and (max-width: 400px) {
                display: none;
            }
        }
    }

    >.search {
    
        & {
            & {
                position: relative;
        
                width: 2.75em;
                height: 2.75em;
                flex-wrap: nowrap;

                display: flex;
                align-items: center;
                
                font-weight: 600;
                white-space: nowrap;
        
                border-radius: 0.375em;
        
                cursor: pointer;
                transition: background-color 150ms;
            }
            &:hover {
                background-color: rgba(#5e72e4, 0.05);
            }
            &:active {
                background-color: rgba(#324cdd, 0.05);
            }
            &.active {
                background-color: rgba(#5e72e4, 0.05);
            }
            @media screen and (max-width: 400px) {
                width: 2.187em;
                height: 2.375em;
            }
            
        }
    
        >svg {
            & {
                display: block;
                
                margin: auto;
                width: 1em;
                height: 1em;
                
                fill: #000000;
                opacity: 0.6;
                
                transition: opacity 150ms;
            }
        }
        &.active>svg {
            opacity: 0.9;
        }
    
        >.dropdown {
            & {
                & {
                    @include dropdown-container-standart;
                    padding: 1em;
                }
                @media screen and (max-width: 370px) {
                    transform: translate(25%);
                }
                &.authorized {
                    @media screen and (max-width: 370px) {
                        transform: translate(53%);
                    }
                }
            }
    
            >.searchbar {
                & {
                    width: 13.143em;
                    height: 1.857em;
                    padding: 0.714em 0.587em;
                    
                    font-size: 0.875rem;
                    font-weight: 500;
            
                    border: 1px solid rgba(#000000, 0.1);
                    border-radius: 0.287em;
                    color: rgba(#000000, 0.9);
            
                    transition: border 150ms;
                }
                &::placeholder {
                    color: rgba(#000000, 0.6);
                    font-size: 0.875rem;
                }
                &:focus {
                    outline: none;
                    border: 1px solid #5e72e4;
                }
            }
        }
    
    }

    >.notifications {
        & {
            & {
                position: relative;
        
                width: 2.75em;
                height: 2.75em;

                display: flex;
                align-items: center;
        
                font-weight: 600;
                white-space: nowrap;
        
                border-radius: 0.375em;
        
                cursor: pointer;
        
                transition: background-color 150ms;
            }
            &:hover {
                background-color: rgba(#5e72e4, 0.05);
            }
            &:active {
                background-color: rgba(#324cdd, 0.05);
            }
            &.active {
                background-color: rgba(#5e72e4, 0.05);
            }
            @media screen and (max-width: 400px) {
                width: 2.187em;
                height: 2.375em;
            }
        }
    
        >svg {
            & {
                display: block;
            
                margin: auto;
                width: 1em;
                height: 1em;
                
                fill: #000000;
                opacity: 0.6;
        
                transition: opacity 150ms;
            }
            >svg.active {
                opacity: 0.9;
            }
        }
    
        >.dropdown {
            & {
                & {
                    @include dropdown-container-standart;
                    padding: 0;
                }
                @media screen and (max-width: 330px) {
                    transform: translate(38%);
                }
            }
    
            >.header {
                & {
                    box-sizing: border-box;
                    width: 100%;
                    height: 4.188em;
                    padding: 0 1.25em;
    
                    display: flex;
        
                    align-items: center;
                    
                    user-select: none;
                }
    
                >.header {
                    color: #32325d;
                }
    
                >button {
                    & {
                        width: 2.75em;
                        height: 2.75em;
                        
                        
                        font-size: 0.818rem;
                        font-weight: 600;
                        white-space: nowrap;
        
                        border-radius: 0.375em;
                        
                        cursor: pointer;
        
                        transition: background-color 150ms;
                    }
                    &:first-of-type{
                        margin-left: auto;
                    }
                    &:hover {
                        background-color: rgba(#5e72e4, 0.05);
                    }
                    &:active {
                        background-color: rgba(#324cdd, 0.05);
                    }
                    
                    >svg {
                        display: block;
                        margin: auto;
                        width: 1em;
                        height: 1em;
                        
                        fill: #525f7f;
                    }
                }
            }
    
            >.main {
                & {
                    height: clamp(5em, 35vh / 1.2, 30em);
        
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
    
                >.notification {
                
                    & {
                        width: fit-content;
                        padding: 0.625em 2em 1em 1.25em;
            
                        display: flex;
                        align-items: center;
            
                        border-top: 1px solid rgba(#324cdd, 0.1);
                        
                        cursor: pointer;
                    }
                    &:last-of-type {
                        border-bottom: 1px solid rgba(#324cdd, 0.1);
                    }
        
                    >svg {
                        display: block;
                        width: 1.5em;
                        height: 1.5em;
        
                        fill: #000000;
                        opacity: 0.6;
                    }
            
                    >.container {
                        & {
                            margin-left: 0.6em;
                
                            display: flex;
                            flex-direction: column;
                        }
    
                        >.header {
                            margin-top: 0.375em;
                
                            font-size: 0.75rem;
                            text-align: left;
                            
                            color: rgba(#525f7f, 0.9);

                            user-select: none;
                        }
                
                        >.timestamp {
                            font-size: 0.625rem;
                            text-align: left;
                            
                            color: rgba(#525f7f, 0.9);
                            
                            user-select: none;
                        }
                    }
            
                }
            }
    
            >.see_all {
                & {
                    box-sizing: border-box;
                    width: calc(100% - 2.5em);
                    margin: 1.25em;
                    height: 2.75em;
                    padding: 0 0.625em;
            
                    display: flex;
                    align-items: center;
                    justify-content: center;
            
                    font-weight: 600;
                    white-space: nowrap;
                    
                    border-radius: 0.25em;
                    color: #ffffff;
                    background-color: #5e72e4;
            
                    cursor: pointer;
                    transition: transform 150ms, background-color 150ms;
                }
                &:active {
                    background-color: #324cdd;
                }
                &:hover {
                    transform: translate(0, -5%);
                }
            }
        }
    }
    
    >.chat {
        & {
            & {
                width: 2.75em;
                height: 2.75em;

                display: flex;
                align-items: center;
        
                font-weight: 600;
                white-space: nowrap;
        
                border-radius: 0.375em;
        
                cursor: pointer;
                transition: background-color 150ms;
            }
            &:hover {
                background-color: rgba(#5e72e4, 0.05);
            }
            &:active {
                background-color: rgba(#324cdd, 0.05);
            }
            @media screen and (max-width: 400px) {
                width: 2.187em;
                height: 2.375em;
            }
        }
    
        >svg {
            display: block;
            margin: auto;
            width: 1em;
            height: 1em;
    
            fill: #000000;
            opacity: 0.6;
        }
    }

    >.log_in {
        & {
            & {
                height: 2.75em;
                padding: 0 0.625em;
            
                font-size: 0.725rem;
                font-weight: 600;
                white-space: nowrap;
            
                border-radius: 0.375em;
                color: #ffffff;
                background-color: #5e72e4;
                
                cursor: pointer;
                transition: transform 150ms, background-color 150ms;
            }
            &:hover {
                transform: translate(0, -5%);
            }
            &:active {
                background-color: #324cdd;
            }
        }
        @media screen and (max-width: 300px) {
            margin-left: 0.87em;
        }
    }
    
    >.profile {
        & {
            & {
                position: relative;
                
                height: 2.75em;
                padding: 0 0.625em;
        
                display: flex;
                align-items: center;
        
                border-radius: 0.375em;
        
                cursor: pointer;
                transition: background-color 150ms;
            }
            &:hover {
                background-color: rgba(#5e72e4, 0.05);
            }
            &:active {
                background-color: rgba(#324cdd, 0.05);
            }
            &.active {
                background-color: rgba(#5e72e4, 0.05);
            }
        }
    
        >.photo {
            height: 2.187em;
            width: 2.187em;
            border-radius: 50%;
        }
    
        >.name {
            & {
                margin-left: 0.625em;
        
                color: #000000;
                opacity: 0.6;
        
                font-weight: 600;
                white-space: nowrap;

                user-select: none;
            }
            &.active {
                opacity: 0.9;
            }
            @media screen and (max-width: 1200px) {
                display: none;
            }
            @media screen and (max-width: 800px) {
                display: flex;
            }
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
    
        >.dropdown {
            & {
                @include dropdown-container-standart;
            }
    
            >a {
                @include dropdown-link-standart;
            }
    
            >.separator {
                @include dropdown-separator-standart;
            }
        }
    }
}