@import '../../variables.scss';

.course {
    $color-title-background: #1a1a1a;

    & {
        & {
            position: relative;

            min-width: 300px;

            flex: 1;

            display: flex;
            flex-direction: column;

            overflow: hidden;

            border-radius: 0.313em;
            background-color: $color-background-light;
            box-shadow: $box-shadow-main;
        }
        @media screen and (max-width: 350px) {
            min-width: 234px;
        }

        &.loading {
            &::after {
                position: absolute;
                left: 0;
                top: 0;

                width: 100%;
                height: 100%;

                content: '';

                opacity: 0.9;
                border-radius: 0 0 5px 5px;
                background: linear-gradient(
                    to top,
                    rgba(#000000, 0.01) 0,
                    rgba(#000000, 0.03) 40%,
                    rgba(#000000, 0.5) 100%
                );
            }
        }
    }

    >.picture {
        display: block;
        width: fit-content;
        height: fit-content;
        height: 12.5em;
        width: 100%;

        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        
        cursor: pointer;
        user-select: none;
    }

    >.price {
        position: absolute;
        top: 1em;
        right: 1em;

        padding: 0.25em 0.667em;

        font-size: 0.75rem;
        font-weight: 600;

        border-radius: 0.25em;
        color: $color-background-light;
        background-color: #2dce89;

        user-select: none;

        z-index: 1;
    }
    
    >.text {
        & {
            flex-grow: 1;
            padding: clamp(0.75em, 3vw, 1.5em);

            display: flex;
            flex-direction: column;
        }

        >.title {
            & {
                font-size: 1.063rem;
                font-weight: 600;
                line-height: 1.5;

                color: $color-font-main;

                cursor: pointer;
                transition: color $transition-time-standart;
            }
            &:hover {
                color: $color-element-active;
            }
        }

        >.about {
            margin-top: 1em;
            flex-grow: 1;

            color: $color-font-text;
        }
    }

    >.footer {
        & {
            padding: clamp(0.75em, 3vw, 1.5em);

            display: flex;

            border-top: 1px solid rgba(#000000, 0.05);
        }

        >.info {
            & {
                & {
                    position: relative;
    
                    font-size: 0.875rem;
    
                    display: flex;
                    align-items: center;
                    gap: 0.75em;

                    cursor: pointer;
                    user-select: none;
                }
                &.category {
                    padding-right: 1em;

                    color: $color-element-inactive;
                }
                &.category:active {
                    color: $color-element-active;
                }
                &.enrolled {
                    margin-left: auto;
                    
                    color: $color-font-text;

                    cursor: default;
                }
            }

            >svg {
                width: 1em;
                height: 1em;

                fill: $color-font-text;
            }

            >.title {
                & {
                    visibility: hidden;
    
                    position: absolute;
                    bottom: 150%;
                    left: 50%;
                    transform: translate(-50%, 0);
    
                    padding: 0.286em 0.571em;
                    
                    font-size: 0.875rem;

                    opacity: 0;
                    border-radius: 0.429em;
                    color: $color-background-light;
                    background-color: $color-title-background;
    
                    transition: opacity $transition-time-standart ease;
                }

                &::after {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);

                    width: 0.625em;
                    height: 0.625em;
                    background-color: $color-title-background;
                    content: "";
                }
            }
            &:hover>.title {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}        